// Variables
$font-size: 16px;
$h1-size: $font-size * 2;
$h2-size: $font-size * 1.5;
$meta-size: $font-size * .7;
$hulk-size: $font-size * 3;
$font-ionicon: "Ionicons";

// Meta
$meta-opacity:.7;
$meta-font-size: $font-size * .75;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin card-structure {
	position: relative;
	@include border-radius(2px);
	margin-bottom: 1.5em;
	overflow: hidden;
	-webkit-box-shadow: 0px 10px 16px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 16px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 16px rgba(0,0,0,0.1);
	transition: all .3s ease-in-out;
	will-change: transform,box-shadow;
}

@mixin center-element{
	margin:0 auto;
	display:block;
}
